<button [routerLink]="['/']">Cancel</button>
<hr>

<!-- {{ errors | json }} -->
<div *ngFor="let error of errors">
    <p>{{ error.path }}: {{ error.message }}</p>
</div>

<form (submit)="editProduct(oneProduct._id)" #thisForm="ngForm">
    <div>
        Name: <input
        type="text"
        name="name"
        [(ngModel)]="oneProduct.name"
        required
        minlength="3"
        #name="ngModel"
        />
    </div>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
            Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
            Name must be at least 3 characters long.
        </div>
    </div>
    <div>
        Quantity: <input
        type="number"
        name="quantity"
        [(ngModel)]="oneProduct.quantity"
        required
        /><br>
    </div>
    <div>
        Price: <input
        type="number"
        name="price"
        [(ngModel)]="oneProduct.price"
        required
        /><br>
    </div>
    <div>
        <input type="submit" [disabled]="thisForm.invalid" value="Edit!">
    </div>
</form>
<button (click)=resetButton()>Reset</button>